<div class="antialiased bg-gray-50 dark:bg-gray-900">

<app-nav></app-nav>

<app-side></app-side>


  <main class="p-4 md:ml-64 h-auto pt-20">
    <div
      class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-auto mb-4">
    
      <app-add-post></app-add-post>
    
    </div>
 
    <div
      class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-auto mb-4" > 
    
      <app-list-post></app-list-post>

    
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div
        class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
      ></div>
      <div
        class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
      ></div>
      <div
        class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
      ></div>
      <div
        class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"
      ></div>
    </div>
  </main>
</div>